<section class="contenedor seccion">
    <div class="seccion__grid">
        <div class="seccion__imagen">
            <img class="seccion__img" src="../../../assets/img/imagen_podcast.svg" alt="imagen-podcast"> 
        </div>
        <div class="seccion__contenido">
            <h2>Crea tu podcast</h2>
            <p>Nosotros lo distribuimos a las plataformas mas populares como
                Google Poscast, Spotify, Apple Podcast o Youtube.
            </p>
        </div>
    </div>
</section>

<section class=" benPodcast">
    <div class="benPodcast__grid contenedor ">
        <div class="benPodcast__contenido">
            <h2>Llega a miles y gana dinero</h2>
            <p>Los podcast se han convertido en un medio de entretenim🇮🇴
               que cada vez gana mas seguidores, con temas variados puedes crear tu
               propio podcast, ser escuchado(a) por miles de personas y convertir
               tu pasion en un negocio.

            </p>
        </div>

        <div class="benPodcast__imagen">
            <img class="benPodcast__img" src="../../../assets/img/podcast_cover.png" alt="imagen-podcast"> 
        </div>
    </div>
</section>

<section class="estadistica">
    <div class="estadistica__grid contenedor ">
        <div class="estadistica__contenido">
            <h2>Estadisticas Detalladas</h2>
            <p>
                Nosotros lo distribuimos a las plataformas mas populares como Google Podcast, Spotify, Apple Podcast y Youtube.
             </p>
        </div>

        <div class="estadistica__imagen">
            <img class="estadistica__img" src="../../../assets/img/grafica.svg" alt="imagen-podcast"> 
        </div>
    </div>
</section>


<section class="planes">
    <div class="contenedor mod">
        <div class="planes__contenido">
            <h2>Planes</h2>
            <p class="planes__descripcion">
                Inicia gratis, crece tu plan cuando sea necesario.
             </p>
        </div>

        <div class="planes__opciones">
            <div class="plan inicio">
                <h3>Inicio</h3>
                <p class="plan__precio">$2.99 Mes</p>

                <ul class="plan__listado">
                    <li>30 Episodios</li>
                    <li>Estadisticas</li>
                    <li>App para grabar</li>
                </ul>

                <a class="plan__boton">Inscribirme</a>
            </div>

            <div class="plan negocio">
                <h3>Negocio</h3>
                <p class="plan__precio">$6.99 Mes</p>

                <ul class="plan__listado">
                    <li>Episodios Ilimitados</li>
                    <li>Todas las plataformas</li>
                    <li>Estadisticas</li>
                    <li>App para grabar</li>
                    <li>Podcast pagados</li>
                </ul>

                <a class="plan__boton">Inscribirme</a>
            </div>

            <div class="plan pro">
                <h3>Pro</h3>
                <p class="plan__precio">$4.99 Mes</p>

                <ul class="plan__listado">
                    <li>50 Episodios</li>
                    <li>Todas las plataformas</li>
                    <li>Estadisticas</li>
                    <li>App para grabar</li>
                </ul>

                <a class="plan__boton">Inscribirme</a>
            </div>
        </div>
    </div>
</section>


<section class="testimoniales contenedor seccion">
    <div class="testimoniales__imagen">
        <img class="testimoniales__img" src="../../../assets/img/app.jpg" alt="testimoniales-imagen">
    </div>

    <div class="testimoniales__contenido">
        <h2>Testimonial</h2>
        <div class="testimonial">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus voluptas iste eaque. 
                Architecto animi nesciunt minus, dolor, odio neque corporis rem maiores, amet repellendus
            </p>
        </div>

        <div class="testimonial">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus voluptas iste eaque. 
                Architecto animi nesciunt minus, dolor, odio neque corporis rem maiores, amet repellendus
            </p>
        </div>


        <div class="testimonial">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus voluptas iste eaque. 
                Architecto animi nesciunt minus, dolor, odio neque corporis rem maiores, amet repellendus
            </p>
        </div>

       
    </div>
</section>
