<footer class="footer">
    <div class="contenedor footer__grid">
        <div class="footer__widger">
            <img class="footer__img" src="../../../../assets/img/logo.svg">
        </div>

        <div class="footer__widget">
            <h3>Soluciones</h3>
            <nav>
                <a>Soluciones</a>
                <a>Graficas</a>
                <a>Distribucion</a>
            </nav>
        </div>

        <div class="footer__widget">
            <h3>Soporte</h3>
            <nav>
                <a>Documentacion</a>
                <a>Precios</a>
                <a>API</a>
            </nav>
        </div>

        <div class="footer__widget">
            <h3>Podcast FM</h3>
            <nav>
                <a>Nosotros</a>
                <a>Blogs</a>
                <a>Clientes</a>
            </nav>
        </div>
    </div>
    <div class="contenedor">
        <p class="footer__copyright">
            Podcast FM - Todos los derechos reservados
        </p>
    </div>
</footer>